*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{margin: auto;
    width: 900px;
   background-color: brown;
}

#menu{
    width: 900px;
    height: 60px;
    background-color: darkslategray;
}

.logomarca{  
    width: 150px;
    height: 50px;
    background-color: darkturquoise;
    margin: 10px;

}

.menuu{
    height: 50px;
    background-color: rgb(209, 0, 0);
    margin: 10px;
    width: 150px;
    float: left;

}

#banner{
    width: 900px;
    height: 500px;
    background-color: mediumturquoise;
} 
#container-dois{
    width: 900px;
    height: 500px; 
    background-color: azure;
}    
 
#container-tres{
    width: 900px;
    height: 500px; 
    background-color: rgb(0, 230, 230); }         
    
#banner{
    width: 900px;
    height: 500px; 
    background-color: rgb(0, 230, 230); }         
    
